@using WeatherApp.ViewModels
@using WeatherApp.Translations
@inject ITranslationService translationService
@model WeatherApp.ViewModels.IWeatherDataViewModel

<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
        <a class="btn btn-sm btn-outline-secondary btn-prev-next-width" culture asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-date="@Model.PreviousDate.Value.ToString("yyyy-MM-dd")">
            <i class="bi bi-rewind"></i>  <span class="tb-large">@translationService.Translate(TranslationKeys.Previous)</span>
        </a>

        <a class="btn btn-sm btn-outline-secondary btn-prev-next-width" asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-date="@Model.NextDate.Value.ToString("yyyy-MM-dd")">
            <i class="bi bi-fast-forward"></i> <span class="tb-large">@translationService.Translate(TranslationKeys.Next)</span>
        </a>
    </div>

    <div class="dropdown me-2">
        <a class="btn btn-sm btn-outline-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-calendar3"></i>
        </a>

        <div class="dropdown-menu">
            <div id="datepicker"></div>
        </div>

    </div>
    <script src="~/js/date-picker.js" asp-append-version="true"></script>
    <script>
        buildDatePicker('@Model.Controller', '@Model.Action', '@Model.BeginDate.ToString("yyyy-MM-dd")');
    </script>

    <div class="tb-period">

        <div class="btn-group tb-large">
            <a class="@("btn btn-sm btn-outline-secondary " + (@Model.Action=="index"  ? "active" : ""))" asp-controller="@Model.Controller" asp-action="index" asp-route-date=" @Model.BeginDate.ToString("yyyy-MM-dd")">@translationService.Translate(TranslationKeys.Day)</a>
            <a class="@("btn btn-sm btn-outline-secondary " + (@Model.Action=="week"  ? "active" : ""))" asp-controller="@Model.Controller" asp-action="week" asp-route-date="@Model.BeginDate.ToString("yyyy-MM-dd")">@translationService.Translate(TranslationKeys.Week)</a>
            <a class="@("btn btn-sm btn-outline-secondary " + (@Model.Action=="month"  ? "active" : ""))" asp-controller="@Model.Controller" asp-action="month" asp-route-date="@Model.BeginDate.ToString("yyyy-MM-dd")">@translationService.Translate(TranslationKeys.Month)</a>
            <a class="@("btn btn-sm btn-outline-secondary " + (@Model.Action=="year"  ? "active" : ""))" asp-controller="@Model.Controller" asp-action="year" asp-route-date="@Model.BeginDate.ToString("yyyy-MM-dd")">@translationService.Translate(TranslationKeys.Year)</a>
        </div>

        <div class="dropdown tb-small">
            <a class="btn btn-sm btn-outline-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-calendar2"></i>
                @switch (Model.Period)
                {
                    case Period.Day:
                        <span>@translationService.Translate(TranslationKeys.Day)</span>
                        break;
                    case Period.Week:
                        <span>@translationService.Translate(TranslationKeys.Week)</span>
                        break;
                    case Period.Month:
                        <span>@translationService.Translate(TranslationKeys.Month)</span>
                        break;
                    case Period.Year:
                        <span>@translationService.Translate(TranslationKeys.Year)</span>
                        break;
                }
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="@Model.Controller" asp-action="index" asp-route-date="@Model.BeginDate.ToString("yyyy-MM-dd")">@translationService.Translate(TranslationKeys.Day)</a></li>
                <li><a class="dropdown-item" asp-controller="@Model.Controller" asp-action="week" asp-route-date="@Model.BeginDate.ToString("yyyy-MM-dd")">@translationService.Translate(TranslationKeys.Week)</a></li>
                <li><a class="dropdown-item" asp-controller="@Model.Controller" asp-action="month" asp-route-date="@Model.BeginDate.ToString("yyyy-MM-dd")">@translationService.Translate(TranslationKeys.Month)</a></li>
                <li><a class="dropdown-item" asp-controller="@Model.Controller" asp-action="year" asp-route-date="@Model.BeginDate.ToString("yyyy-MM-dd")">@translationService.Translate(TranslationKeys.Year)</a></li>
            </ul>
        </div>
    </div>
</div>